/* You can add global styles to this file, and also import other style files */

$primary-color: #242c53;
$secondary-color: #d67c7c;
$tertiary-color: white;

body {
  font-family: "Oxygen", serif;
  background: $primary-color;
  color: $tertiary-color;
}

h1, h3 {
  font-weight: bolder;
  text-align: center;
  color: $secondary-color;
}

h3 {
  text-transform: uppercase;
  margin-top: 25px;
}

h4 {
  font-weight: bold;
}

h5 {
  font-style: italic;
}

p {
  font-size: 15px;
}

.navbar {
  background-color: $tertiary-color;
  border-radius: 0;
  width: 100%;

  .navbar-nav {
    margin-top: 12px;

    .nav-item {
      margin-right: 20px;
      display: inline-block;
    }
  }
}

.project, .course, .education {
  border: 3px solid $tertiary-color;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: calc(100% - 20px);

  a, h4 {
    font-size: 20px;
    font-weight: bold;
    color: $secondary-color;
  }
}

.intro {
  text-align: center;
  margin-bottom: 25px;
}

a, a:active {
  color: $secondary-color;

  &:hover {
    text-decoration: none;
    font-weight: bold;    
    color: $tertiary-color;
  }
}

.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;

  a {
    margin: 0 15px;
  }
}

.tags {
  margin-top: 10px;
}

.tag, .skill {
  border: 1px solid $tertiary-color;
  border-radius: 25px;
  display: inline-block;
}

.tag {
  padding: 5px 10px;
  margin-right: 5px;
}

.skill {
  border-width: 2px;
  padding: 10px 20px;
  margin-bottom: 7px;
}

.btn {
  background: $secondary-color;
  padding: 10px 20px;
  margin: 5px auto;
  text-transform: uppercase;
  border: 2px solid $secondary-color;
  border-radius: 25px;
  color: $tertiary-color;
  text-align: center;
  font-weight: bold;

  &:hover {
    color: $secondary-color;
    background: $tertiary-color;
  }
}