<div class="intro">
  <h1>Márcio Porto</h1>
  <p>
    Hello, world! My name is <b>Márcio Porto</b>, a Software Developer and AI aficcionado. 
  </p>
</div>

<h3>Background</h3>
<hr>
<p>
  I am a Software Developer with over two years of full stack development experience for two different startups. I am proficient in Python, Ruby on Rails, Java, and Node.js/JavaScript.
</p>
<p>
  For my side projects, I try to focus on two of my main passions: AI and blockchain technology. For my most recent AI project, I am training a virtual self-driving car using Keras and Udacity's self-driving car simulator. As for blockchain, I have been working on a smart contract implementing a basic distributed exchange for ERC20 tokens.
</p>
<p>
  If our interests match, let's talk! 
</p>

<h3>Work Experience</h3>
<hr>
<div class="row">
  <div class="col-sm-3 col-xs-12">
    <h4>Orderly Health</h4>
    <h5>Software Developer</h5>
    <p>Denver, CO</p>
  </div>
  <div class="col-sm-9 col-xs-12">
    <ul>
      <li>Used NLP techniques to build multiple features including the ability to ask our chatbot Louie about clinical questions, medical procedures, providers, and medication costs.</li>
      <li>Implemented subscriptions and payments using Stripe, allowing Orderly to start collecting revenue for Premium memberships and services.</li>
      <li>Led major UI/UX redesign of the website and SMS experience which led to increased usage and satisfaction.</li>
      <li>Led the effort to start implementing automated tests covering the most important parts of the codebase.</li>
      <li>Built a simpler version of our chatbot for Slack using the Botkit library.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-xs-12">
    <h4>MANGO Connects</h4>
    <h5>Web Developer Intern</h5>
    <p>Minneapolis, MN</p>
  </div>
  <div class="col-sm-9 col-xs-12">
    <ul>
      <li>Built the Ruby on Rails backend and the frontend for the MANGO website from scratch.</li>
      <li>Took the product from zero to beta two months before expected as the only developer on the team.</li>
      <li>Implemented an interactive message builder that coaches users step-by-step on how to write great networking messages.</li>
      <li>Created a dashboard where users can easily manage the contacts in their network, which became the main page of the product.</li>
    </ul>
  </div>
</div>

<h3>Projects</h3>
<hr>
<div class="row">
  <div class="project col-md-4 col-sm-6 col-xs-12" *ngFor="let project of visibleProjects">
    <a routerLink="project/{{ project.id }}">{{ project.name }}</a>
    <p>{{ project.description }}</p>
    <div class="tags">
      <span class="tag" *ngFor="let tag of project.tags">
        {{ tag }}
      </span>
    </div>
  </div>
  <div class="col-xs-12 text-center">
    <a routerLink="projects/" class="btn">See all projects</a>
  </div>
</div>

<h3>Education</h3>
<hr>
<div class="row">
  <div class="education col-xs-12">
    <h4>Macalester College</h4>
    <h5>B.A. in Computer Science</h5>
    <p>Graduated with a major in Computer Science and a minor in Data Science. My Computer Science concentration was in Artificial Intelligence and Robotics, mainly using Python and a multitude of packages and libraries. My Data Science concentration was in Geographic Information Systems (GIS) using Esri software to analyze and draw conclusions from multiple geographical datasets.
    </p>
  </div>
</div>

<h3>Courses</h3>
<hr>
<div class="row">
  <div class="project col-md-4 col-sm-6 col-xs-12" *ngFor="let course of visibleCourses">
    <a href="{{course.url}}" target="_blank"><h4>{{ course.name }}</h4></a>
    <p>{{ course.description }}</p>
    <div class="tags">
      <span class="tag" *ngFor="let tag of course.tags">
        {{ tag }}
      </span>
    </div>
  </div>
</div>

<h3>Skills</h3>
<hr>
<h4>Proficient</h4>
<div class="skills">
  <span class="skill">Python</span>
  <span class="skill">Ruby on Rails</span>
  <span class="skill">Java</span>
  <span class="skill">HTML</span>
  <span class="skill">CSS</span>
  <span class="skill">JavaScript</span>
  <span class="skill">jQuery</span>
  <span class="skill">IBM Watson</span>
  <span class="skill">Django</span>
  <span class="skill">Node.js</span>
</div>
<h4>Familiar</h4>
<div class="skills">
  <span class="skill">React</span>
  <span class="skill">AngularJS</span>
  <span class="skill">TensorFlow</span>
  <span class="skill">Keras</span>
  <span class="skill">scikit-learn</span>
  <span class="skill">Pandas</span>
  <span class="skill">Android Development</span>
  <span class="skill">Hadoop</span>
  <span class="skill">Spark</span>
  <span class="skill">PostgreSQL</span>
  <span class="skill">MongoDB</span>
</div>

<!-- <h3>Testimonials</h3>
<hr>
<div class="testimonial">
  <h4>"Marcio wrote the first line of code, through the 3rd product release. So much of MANGO was built through Marcio's work and creativity. It is because of him that MANGO even exists."</h4>
  <h5>Sue Wollan Fan, CEO of MANGO Connects</h5>
</div> -->